// ---------------------------------------------------------------
//  Animation Mixins
// ---------------------------------------------------------------
@mixin bg-ease {
    transition: background-color ease .3s;
}

// ---------------------------------------------------------------
//  Layout Mixins
// ---------------------------------------------------------------
@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    @content;
}


// ---------------------------------------------------------------
//  Media query manager
// ---------------------------------------------------------------
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}