// ---------------------------------------------------------------
//  Animation Mixins
// ---------------------------------------------------------------
@mixin bg-ease {
    transition: background-color ease .3s;
}

// ---------------------------------------------------------------
//  Layout Mixins
// ---------------------------------------------------------------

//  Create flex container
@mixin flex-container(
    $disp: flex,
    $dir: null,
    $wrap: null,
    $just: null
    ) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    @content;
}

// Center content utility
@mixin center($m-width: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $m-width;
    @content;
}


// ---------------------------------------------------------------
//  Media query manager
// ---------------------------------------------------------------
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media (#{$type}-width: $width) {
            @content;
        }
    }
}