
/* Color  ----------------------------- */

$brand-primary: #58e1c1;
$brand-secondary: #51ddfc;
$text-primary: #777;


/* Breakpoints  ----------------------- */

$breakpoints: (
    "small":        400px,
    "medium":       768px,
    "large":        1024px,
    "extra-large":  1440px
);