// ---------------------------------------------------------------
//  Variables
// ---------------------------------------------------------------

//  Color
$color-primary:         #58e1c1;
$color-secondary:       #51ddfc;
$color-text-primary:    #777;
$color-shade:           #ccc;

$red:       #e4757a;
$green:     #63cc82;
$purple:    #927bc1;
$yellow:    #fd7856;
$white:     #fff;
$black:     #000;

// Size & Space
$base:  5px;
$x2:    10px;
$x3:    15px;
$x4:    20px;
$x5:    25px;
$x6:    30px;
$x8:    40px;

//  Font Stack
$font-stack-primary: 'Lato', sans-serif;


//  Layout
$max-width: 1400px;


// ---------------------------------------------------------------
//  Maps / Lists
// ---------------------------------------------------------------

//  Breakpoints
$breakpoints: (
    "small":        400px,
    "medium":       768px,
    "large":        1024px,
    "extra-large":  1440px
);

//  Semantics
$semantics: (
    "default":  $color-secondary,
    "error":    $red,
    "info":     $purple,
    "warning":  $yellow,
    "success":  $green
);

//  Themes
$themes: (
    "1":    #927bc1,
    "2":    #fd7856,
    "3":    #deb2ee,
    "4":    #7ee6fd,
    "5":    #88d9a0,
    "6":    #4da2bb,
    "7":    #ec9fa3,
    "8":    #fd9f85,
    "9":    #e4757a,
    "10":   #63cc82,
    "11":   #51ddfc,
    "12":   #80e8d1
);