/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  margin-top: $x3;
  width: 100%;
  color: #fff;
  border: none;
  padding: $x2 0;
  text-transform: uppercase;
  border-radius: $base;
  @include bg-ease;
  @include mq('medium') {
    padding: $x2 $x6;
    & + & {
      margin-left: $x2;
    }
  }
}

@each $meaning, $color in $semantics {
  .#{$meaning} {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}