/* ============================================= */
/*              Buttons                          */
/* ============================================= */
.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  @include bg-ease;
  @include mq('medium') {
    padding: 10px 30px;
    & + & {
      margin-left: 10px;
    }
  }
}

@each $meaning, $color in $semantics {
  .#{$meaning} {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}