/* ============================================= */
/*              Forms                            */
/* ============================================= */

.form {
  flex-basis: 100%;
}

.input{
  display: block;
  width: 94%;
  margin: $x2 auto 0;
  border: none;
  padding: $x2;
  border-bottom: $base solid $color-primary;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}