/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq('medium') {
    @include center {
      max-width: $max-width;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq('medium') {
    flex-direction: row;    
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq('medium') {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    & + & {
      margin-left: 10px;
    }
  }
}

.theme {
    @each $theme, $color in $themes {
      &.col-#{$theme} {
        background-color: #{$color};
      }
  }
}

.card {
  flex-basis: 100%;
}

.centered {
  @include center;
}

@include mq('medium') {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: col-width($i);
    }
  }
}