/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 $x2;
  @include mq('medium') {
    @include center($max-width);
  }
}

.row {
  @include flex-container($dir: column){
    padding: 1em $x2;
    @include mq('medium') {
      @include flex-container($dir: row); 
    }
  }
}

[class^=col] {
  margin-top: $x2;
  flex-basis: 100%;
  min-height: $x5;
  padding: $x2;
  border-radius: $base;
  @include mq('medium') {
    @include flex-container($just: center) {
      margin-top: 0;
      align-items: center;
      & + & {
        margin-left: $x2;
      }
    }
  }
}

.theme {
    @each $theme, $color in $themes {
      &.col-#{$theme} {
        background-color: #{$color};
      }
  }
}

.card {
  flex-basis: 100%;
}

.centered {
  @include center;
}

@include mq('medium') {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: col-width($i);
    }
  }
}