/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  padding-left: 0;
  flex-basis: 100%;
  @include flex-container($dir: column);
  &-link {
    text-align: center;
    border-radius: $base;
    padding: $x2 0;
    display: block;
    width: 100%;
    transition: 
      background-color .2s ease-in-out, 
      color .2s ease-in-out;
    &:hover {
      color: $white;
      background-color: $color-primary;
    }
  }
  @include mq('medium') {
    @include flex-container($disp: null, $dir: row, $just: flex-end);
    align-items: center;
    &-link {
      flex-basis: 100px;
    }
  }
}
